@font-face {
  font-family: NetflixSans;
  src: url(Fonts/NetflixSans-Regular.woff2);
}
@font-face {
  font-family: NetflixSansBold;

  src: url(Fonts/NetflixSans-Bold.woff2);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: NetflixSans;
}
body {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  background-image: url(Image/bg.jpg);
  background-size: 100vw;
  /* height: vw; */
  width: 100%;
  /* width: 100vw; */
  display: flex;

  justify-content: center;
  position: relative;
  background-position: center;

  background-size: cover;
  background-position: center center;
  background-size: max(1200px, 100vw);
}
main .blackBox {
  background-color: #000000;
  height: 46vw;
  width: 100%;
  opacity: 0.7;
}

/* Nav Bar */
.nav {
  /* height: 80px; */
  width: 95%;

  position: absolute;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;


  padding: 16px;
}
.nav img {
  height: 50px;
  margin-left: 7rem;
}

/* Top Right Buttons */

.topRightBtns {
  margin-right: 7rem;
}
.topRightBtns a {
  text-decoration: none;
}
.topRightBtn {
  margin: 0.4rem;
  color: white;
}

#englishBtn {
  border: 0.5px solid white;
  border-radius: 3px;
  padding: 5px 20px 5px 20px;
  background: #0f0f0f;
}
#loginBtn {
  font-weight: bold;
  background-color: #e50914;
  padding: 7px 15px;
  font-size: 15px;
  border-radius: 4px;
}

/* Middle Content */
.middleContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 140px;
  width: 50%;
  /* height: 30vw; */
  /* margin: 0px 19em 0px 19em; */
  padding: 45px;
  justify-content: center;
  align-items: center;
}
.middleContent h1 {
  color: white;

  font-size: 3.5em;
  font-family: NetflixSansBold;
  text-align: center;
}
.middleContent h1::selection {
  color: red;

  font-size: 3.5em;
  font-family: NetflixSansBold;
  text-align: center;
}
.middleContent h3 {
  color: white;
  text-align: center;
  margin-top: 14px;
  font-size: 1.2em;
}
.middleContent h4 {
  color: white;
  margin-top: 33px;
  text-align: center;
  font-weight: lighter;
}
.emailInput {
  margin-top: 16px;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
 

  gap: 8px;
}
.middleContent input {
  width: 21em;
  font-family: Arial, Helvetica, sans-serif;

  background-color: #000000;
  color: #ffffff;
  font-size: medium;
  padding-left: 15px;
  height: 55px;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 6px;
}
.middleContent a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: #e50914;
  padding: 13px 22px;
  font-size: 22px;
  border-radius: 4px;
  width: max-content;
}

/* Section 1 Ends here */

.separator {
  width: 100%;
  height: 3px;
  background-image: linear-gradient(
    to bottom right,
    rgb(253, 34, 137),
    rgb(255, 60, 60),
    rgb(253, 34, 137)
  );
}

/* Section 2 - Movies Posters */

.section2 {
  width: 80%;
  display: flex;
  margin-top: 10px;
  flex-direction: column;

  align-items: center;

  margin-top: 50px;
}
.section2 h2 {
  font-size: 22px;
  color: white;
  align-self: flex-start;
  margin: 5px 13px 12px 14px;
}
.moviesBox {
  display: flex;
  height: 22rem;
  width: 95%;
  overflow: scroll;
  padding: 10px;
}
.moviePosters {
  margin: 10px;
  border-radius: 6px;
}
.moviePosters:hover {
  margin: 10px;
  transform: scale(1.05);
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

/* section 2 ends here  */

/* Section 3 - Reasons to Join */

.section3 {
  width: 85%;
  height: max-content;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 30px;
  justify-content: center;
}
.section3 > h2 {
  font-size: 22px;
  color: white;
  align-self: flex-start;
  margin: 5px 13px 12px 38px;
}
.reasonBoxes {
  display: flex;
  height: max-content;
  width: 95%;


  align-items: center;
  justify-content: space-evenly;
}
.reasonBox {
  height: 17em;
  width: 14rem;
  border-radius: 20px;
  background-image: linear-gradient(145deg, #192144, #1d1931, #1f1425, #210e17);
  display: flex;
  flex-direction: column;
  padding: 25px 15px;
  margin: 0px 6px;
  position: relative;
}
.reasonBoxes h2 {
  color: white;
  text-shadow: 1px 1px 1px black;
  line-height: 1.4;
}
.reasonBoxes p {
  color: #bbbbc4;
  margin-top: 13px;
  height: 120px;
}
.reasonBoxes svg {

  position: absolute;
  bottom: 15px;
  right: 15px;
}

/* section 3 ends here  */

/* Section 4 - Frequently Ask Questions */

.section4 {
  color: white;

  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 25px;
  justify-content: center;
}
.section4 h2 {
  font-size: 22px;
  color: white;
  align-self: flex-start;
  margin: 5px 0px 10px 70px;
}
.faq-Boxes {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq-Box {
  display: flex;
  justify-content: space-between;
  font-family: NetflixSans;

  background-color: #2d2d2d;
  padding: 1.5rem 1.1rem;
  margin: 0.5rem;
  width: 95%;
  font-weight: medium;
  font-size: 25px;
}
.faq-Box:hover {
  cursor: pointer;
  background-color: #414141;
}
.section4 svg {
  margin-right: 7px;
  height: 36px;
  width: 36px;
}
.section4 svg:hover {
  margin-right: 7px;
  height: 36px;
  width: 36px;
  transform: rotate(47deg);
}

/* Section 4 ends here */

/* Section 5 - Email Input */
.section5 {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section5 p {
  color: white;
}
.section5 input {
  width: 36em;
  font-family: Arial, Helvetica, sans-serif;

  background-color: #0f0f0f;
  color: #ffffff;
  font-size: medium;
  padding-left: 15px;
  height: 55px;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 4px;
}
.section5 a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: #e50914;
  padding: 13px 22px;
  font-size: 22px;
  border-radius: 4px;
  width: max-content;
}

/* Section 5 ends here */

/* Section 6- Footer */

.footer {
  display: flex;

  color: #a2a2a2;
  flex-direction: column;
  padding: 2rem;
  margin-top: 60px;

  width: 80%;
}
.linkBoxes {
  display: flex;
  margin-top: 3em;
  justify-content: space-evenly;

  height: 8rem;
  justify-content: space-between;
}
.linkBox {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
}
.footer a {
  color: #a2a2a2;
}

#englishBtnBelow {
  color: white;
  margin-top: 3rem;
  border: 1px solid white;
  padding: 5px;
  width: 68px;
  text-decoration: none;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #0f0f0f;
}
#myName{
    margin-top: 8px;
}



/* Media Queries */

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  body {
    /* background-color: rgb(0, 85, 109); */
  }
  main {
    
   
   height:max-content;
    background-size: max(1250px, 100vw);
    /* background-size: cover; */
   
}
  main .blackBox {
   
    height: 150vw;
    
    
  }
.nav{
    padding: 20px 7px;
    
    

}
  .nav img {
    height: 40px;
    margin-left: 0.5rem;
  }
  .topRightBtns {
    margin-right: 0.5rem;
   
    display: flex;

  }
  #englishBtn {
   width: max-content;
    padding: 5px 5px 5px 5px;
    
  }
  #loginBtn {
  width: 48px;
    padding: 7px 12px;
    

  }


  .middleContent {
   
   top: 110px;
    
    width: 80%;

  
    padding: 10px;
    
  }
  .middleContent h1 {

  
    font-size: 2.1em;
    
  }
  .middleContent h1::selection {
      font-size: 2.1em;
    
  }
  .middleContent h3 {
    
    font-size: 1em;
  }
  
  .emailInput {
    gap: 18px;
  }
  .middleContent input {
    width: 20em;
    
  }

.section2{
  height: 400px;
}
.section2 h2{
  margin-left: 2px;
}

  .section3 > h2 {
    
    margin: 5px 13px 12px 8px;
  }
  .reasonBoxes {
    flex-direction: column;
  }
  .reasonBox {
    height: 11em;
    width: 100%;

    margin: 6px 6px;
  }
  .reasonBoxes svg {
  
    height: 70px;
  }


  .section5{
    width: 95%;
  }
  .section5 p {
    text-align: center;
    margin: 0px 10px;
  }
  .emailInput{
    flex-direction: column;
    height: max-content;
  }
  .section5 input {
    width: 20em;
   
  }
  .section4 h2 {
    margin: 5px 0px 10px 16px;
  }
  .faq-Box {
    font-size: 20px;
  }
  .section4 svg{
    height: 25px;
    width: 25px;
  }
  .section4 svg:hover{
    height: 25px;
    width: 25px;
  }
  .footer {
   
 
    margin-bottom: 1rem;
    font-size:0.8rem ;
    padding: 1rem;
    height: max-content;
  
    
  }
  .linkBoxes {
 
    margin-top: 2em;
 
  flex-direction: column ;
    
    gap: 12px;
    height: max-content;
  }
  .linkBox {
  
    
  
    gap: 12px;
  }
  #englishBtnBelow {
   
    margin-top: 2rem;
  
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  body {
    /* background-color: yellow; */
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    /* background-color: blue; */
  }
  main {
    height: 65vw;
    background-size: max(1255px, 100vw);
  }
  main .blackBox {
    height: 65vw;
  }
  .middleContent {
    width: 70%;
  }

  .section3 > h2 {
    margin: 5px 13px 12px 20px;
  }
  .reasonBoxes {
    flex-direction: column;
  }
  .reasonBox {
    height: 09em;
    width: 90%;

    margin: 3px 6px;
  }
  .section4 h2 {
    margin: 5px 0px 10px 35px;
  }
  .section5 input {
    width: 26em;
   
  }

}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    /* background-color: green; */
  }
  .section4 h2 {
    margin: 5px 0px 10px 60px;
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  body {
    /* background-color: rgb(255, 255, 255); */
  }
}
